@mixin mobile{
    @media (max-width: 480px) {
        @content;
        
    }
}

@mixin tablet{
    @media (max-width: 768px) {
        @content;
        
    }
}


@mixin laptop{
    @media (max-width: 1200px) {
        @content;
        
    }
}

@mixin transition($property){
    transition: $property 300ms ease-in-out ;
    -webkit-transition: $property 300ms ease-in-out ;
    -moz-transition: $property 300ms ease-in-out ;
    -ms-transition: $property 300ms ease-in-out ;
    -o-transition: $property 300ms ease-in-out ;
}