@use '../styles/global.scss' as *;
@use '../styles/mixins' as *;
@use '../styles/variables' as *;

.card {
  display: flex;
  flex-direction: column; /* Контент внутри по вертикали */
  flex: 0 1 200px;        /* Фиксированная ширина, но может уменьшаться */
  background-color: rgb(237, 226, 226);
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s; /* Плавный эффект при hover */
  
  &:hover {
    transform: translateY(-4px); /* Легкий lift при наведении */
  }
}

.cont {
  display: flex;
  flex-direction: column; /* Чтобы текст был вертикально */
  gap: 8px;               /* Отступы между элементами */
  margin-bottom: 12px;    /* Отступ снизу перед кнопкой */
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 4px;
}

.description {
  font-size: 16px;
  color: #333;
}

.status, .createdAt {
  font-size: 14px;
  color: #555;
}

.button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: azure;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: #d0e7ff;
  }
}

/* Для контейнера всех карточек */
.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Расстояние между карточками */
}
